<%= form_with(model: listing, local: true) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :user_id, :value => current_user.id %>
  <div class="form-group">
    <h6>Add Devices</h6>
    <%= form.nested_fields_for :devices do |f| %>
      <div class="form-group">
        <%= f.select :name, Device::DEVICE_OPTIONS %>
        <%= f.remove_nested_fields_link %>
      </div>
    <% end %>
    <%= form.add_nested_fields_link :devices %>
  </div>
  <div class="form-group">
    <h6>Reservation</h6>
    <%= form.fields_for :reservation do |f| %>
      <div class="form-group">
        <%= f.label :start_date %>
        <%= f.date_field :start_date %><br>
        <%= f.label :end_date %>
        <%= f.date_field :end_date %>
      </div>
    <% end %>
  </div>
  <div class="form-group form-check form-check-inline">
    <%= form.check_box :automation, :class => "form-check-input" %>
    <%= form.label "Automation", :class => "form-check-label" %>
  </div>

  <div class="form-group">
    <%= form.submit %>
  </div>
<% end %>
