 <tr>
  <th scope="row"><%= listing_counter %></th>
  <td><%= listing.user.email %></td>
  <td><%=  render listing.devices %></td>
  <td><%= listing.reservation.start_date %> / <%= listing.reservation.end_date %></td>
  <td><%= listing.automation %></td>
</tr>
